.input-box {
    padding: 10px;
    margin: 5px;
}

.custom-form {
    padding: 10px;
    margin-top:10px;
    width: 350px;
    height: 400px;
}

.wide-block {
    width:450px;
    height:500px;
    padding: 15px;
    padding-top:30px;
    box-shadow: 2px 2px 3px 4px #ccc;
    margin-top: 150px;
}

.submit-button {
    margin: 10px;
}
.or{
    padding-left: 50px; 
    height: 30px;
}
.top-block
{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.bottom-block {
    align-content: left;
    padding-top: 10px;
    margin-top: 10px;
}
