.modal-dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: unquote("calc(100vh - 20px)");
    
}

.modal-content {
        width: 100%;
}
