.modal-container {
    margin-top: 0!important;
    margin-bottom: 0!important;
    
}

.header-container {
    text-align: right;
    
}

.header-button {
    display: inline-block;
    padding-top: 10px;
    padding-right: 350px; 
}


.coverContainer {
    text-align: center;
    padding: 10px;
}

.bkCoverLarge {
    display: inline-block
}

.footer-container {
    text-align: right
}

.modal-footer-button {
    display: inline-block;
}